#container {
  width: 90%;
  margin: auto;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  border-radius: 20px;
  border: 2px solid skyblue;
  margin-top: 50px;
}

#container > h1 {
  letter-spacing: 10px;
}
