#login-form-div {
  width: 30%;
  height: 450px;
  margin: auto;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  border: 2px solid skyblue;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  border-radius: 20px;
}

#loghead {
  font-size: 35px;
  margin-top: 35px;
  margin-bottom: 5px;
  padding-top: 50px;
  color: skyblue;
}

input[type="text"],
[type="password"] {
  width: 80%;
  padding: 12px;
  font-size: 18px;
  font-weight: 400;
  border: 1px solid black;
  border-radius: 5px;
  align-items: center;
  margin-top: 25px;
}

#button {
  margin-top: 50px;
  min-width: 220px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: #fff;
  overflow: hidden;
  border: 2px solid #495057;
  color: #495057;
}
#button:hover {
  color: skyblue;
}
#button:hover:after {
  width: 100%;
}
#button:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  right: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: #495057;
}
